<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help Page</title>
  </head>
  <body>
    {{> header }}
    <p>Some Text Here</p>
  </body>
  {{> footer }} <!-- Using Partials -->
</html>
